<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aliyun.alink.devicesdk.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:name="com.aliyun.alink.devicesdk.app.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">
        <activity
            android:name=".DemoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aliyun.alink.devicesdk.demo.ControlPannelActivity"/>
        <activity android:name="com.aliyun.alink.devicesdk.demo.LabelActivity"/>
        <activity android:name="com.aliyun.alink.devicesdk.demo.COTAActivity"/>
        <activity android:name="com.aliyun.alink.devicesdk.demo.ShadowActivity"/>
        <activity android:name="com.aliyun.alink.devicesdk.demo.OTAActivity"/>
        <activity android:name=".GatewayActivity" />
        <activity android:name=".SubDeviceControlPannelActivity" />
        <activity android:name=".H2Activity" />
        <activity android:name=".H2FileManagerActivity" />

        <!--http://lazybios.com/2016/12/install-apk-by-intent-compatible-adnroid-n/ -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.aliyun.alink.devicesdk.demo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>
    </application>
</manifest>
